@page
@model PokemonTrainerCardGame.Pages.RazorPagesAndWebAPI.CardEditProModel
@{

}

<div>
    <form method="post">
        <div>
            <label class="control-label">DB編號</label>
            <input class="form-control" readonly="readonly">
        </div>
        <div>
            <label class="control-label">系列</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">環境</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">編號</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">卡片等級</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">特殊規則</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">種類</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">種類細項</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">HP</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">名稱</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">屬性</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">卡片URL</label>
            <input class="form-control" />
        </div>
        <div>
            <label class="control-label">建立時間</label>
            <input class="form-control" readonly="readonly">
        </div>
        <div>
            <label class="control-label">修改時間</label>
            <input class="form-control" readonly="readonly">
        </div>
        <input type="submit" />
    </form>
</div>

